* {
    margin: 0;
    box-sizing: border-box;
   ;
}

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 }

.btn {
        width: 132px;
        height: 20px;
        text-decoration: none;
        color: #30B868;
        list-style: none;
        /* padding: 16px 8px; */
        /* padding-left: 16px; */
        /* padding-right: 5px; 
        padding-top: 16px;
        padding-bottom: 16px; */
        /* align-items: center; */
        /* padding: 5px, 16px; */
     }

     h2{
        font-size: 48px;
        font-weight: ;
     }

     p{
        font-size: 16px;
     }

.header {
    background-color: white;
    height: 92px;
    width: 1600px;
    padding: 16px, 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 16px;
    padding-bottom: 16px;  
    }
    
    .nav {
         list-style: none;
         display: flex;
         gap: 32px;

    }
    .nav a {
        text-decoration: none;
        color: #30B868;
        font-size: 16px;
        font-weight: 500px;
       
     }
 header .btn{
    /* padding: 5px, 16px;
    */
    /* padding-left: 16px; */
    font-size: 16px;
    font-weight: 6000px;
    line-height: 19px;
    color: white;
    
 }
.btn button{
    padding-left: 10px;
    padding-right: 10px; 
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* padding: 16px, 10px; */
}

section {
    /* /* width: 2042px; */
    /* height: 674px;  */
    
    /* padding-left: 150px;
    padding-right: 150px;
    padding-top: 70px;
    padding-bottom: 134px;
    align-items: center; */
    
    
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /*justify-content: space-between;
    /* align-items: center; */

}
section .hero{
    /* width: 2042px;
    height: 1363px; */
    background: url(images/hero-bg.png);
    

    /* position: center; */

}

.about {
    padding-top: 120px, 63px;
    height: 448px;
    background: #FBFBFB;

    
}
.about .about-container{
    /* width: 71%; */
    /* max-width: 1140px; */
    margin: 0, auto;
    text-align: center;


}

.about .about-container{

}


/* hero-02 section */









/* note section */

.note{
background: #F7F6F2;
height: 448px;

}
.note-area{
    padding-left: 120px;
    padding-right: 120px;
}

.note-header{
    text-align: center;
    padding-top: 50px;
    
}
.note-header h2{
    padding-bottom: 20px;
    font-size: 48px;
}

.note-header p{
    font-size: 16px;
    padding-bottom: 44px;
}

.note-card{
    gap: 10px;
    display: flex;
}


.first-card {
   background-color: white;
   height: 300px;
   width: 322px;
   padding-top: 75px;
   align-items: center; 
   text-align: center; 
   border: 1px;
   border-radius: 10px;
   /* align-content: center; */
}
.card-img1 {
    
    background: red;
    height: 50px;
    width: 50px;
    align-items: center;
    margin-left: 130px;
    
}
.card-img2 {
    
    background: red;
    height: 50px;
    width: 50px;
    align-items: center;
    
    
}
.card-img3 {
    
    background: red;
    height: 50px;
    width: 50px;
    align-items: center;
   
    
}
.card-img4 {
    
    background: red;
    height: 50px;
    width: 50px;
    align-items: center;
    
    
}
.card-icon {
    color: red;
    height: 50px;
    width: 50px;
}

.first-card h3{
font-size: 24px;
font-weight: 500px;
color: #001931;
padding-bottom: 10px;
}

.first-card p{
    font-size: 16px;    
    color: #627382;
    
}


/* ready section */
.ready{
    height: 506px;
    background: white;
    margin: auto;
    display: flex;
    padding-left: 120px;
    padding-bottom: 120px;
    padding-right: 120px;
    align-items: center;
    gap: 20px;
    
}

.ready1{
    background: #F7F6F2;
    height: 385px;
    width: 1360px;  
    padding: 80px 40px; 
    gap: 20px;
    align-items: center;
    
}
.ready1 h2{
    padding-bottom: 20px;
}
.ready1 p{
    padding-bottom:15px;

}
 btn .readybtn{
     align-items: center; 
     
}

 .ready2p p{ 
    padding-top:15px;
}


/* footer area */

.ftr {
background-color: #001931;
margin: 0, auto;
height: 348px;
}


footer .footer-area {
     padding-top: 120px;
    padding-bottom: 30px;
    padding-left: 120px;
    padding-right: 120px;

    
}
.footer-left {
      display: flex;
      justify-content: space-between;
      padding-bottom: 80px;
}
.footer-icon h3{
    color:white;
    text-align: center; 
    font-weight: 400px;
}

.footer-bottom p{
    color: whitesmoke;
    padding-top: 20px;
    text-align: center;
}




